label,
input {
    display: block;
}

label {
    margin-bottom: 5px;
    font-size: 1.87rem;
    line-height: 1.3;
}

input,
select {
    padding: 5px;
    border-radius: 4px;
    border: none;
    font-size: 1.125rem;
    line-height: 1.3;
    width: 100%;
}

form {
    font-family: "Winky Sans", sans-serif ;
}

[data-button] {
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
