.grid {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
  "header header header"
  "nav main aside"
  "footer footer footer"
  ;
}

.header-bg {
  grid-area: header;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .3);
}

.asidnav-bg {
  grid-area: nav;
  background-color: #fafbfc;
  padding: 30px 15px;
}

.content-bg {
  grid-area: main;
}

.aside-bg {
  grid-area: aside;
}

.footer-bg {
  grid-area: footer;
  text-align: center;
  box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, .3);
}

.header-bg,
.footer-bg {
  background: linear-gradient(
    135deg,
    #8844ee,
    #b07dfb
  );
  padding: 30px 15px;
  color: #fff;
  z-index: 3;
}


.col-wide {
  grid-column: 1 / -1;
}

.img-1 {
  grid-row: span 2;
  align-self: end;
}
.img-2 {
  align-self: end;
}

@media(max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "header header"
    "nav main"
    "nav aside"
    "footer footer"
    ;
  }
}

@media(max-width: 760px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer"
    ;
  }
}