.hero {
  padding: 150px 0px;
}

.hero h2 {
  margin-bottom: 24px;
  font-size: 3.5rem;
}

.hero p {
  font-size: 1.2rem;
  color: var(--muted);
  margin-bottom: 20px;
  max-width: 600px;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.hero .btn {
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
  transition: var(--transition);
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
}

.btn-primary {
  background: linear-gradient(90deg, var(--green), var(--cyan));
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow);
}

.btn-secondary {
  background: transparent;
  border: 2px solid var(--border);
}

.btn-secondary:hover {
  border-color: var(--green);
  color: var(--green);
}

.thought-container {
  padding: 20px;
  border-left: 3px solid var(--green);
  background-color: rgba(0, 255, 136, 0.05);
  border-radius: 0px 8px 8px 0px;
}

#thought {
  font-size: .9rem;
  color: var(--green);
  font-style: italic;
}