.animais p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.animais h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
  scroll-behavior: smooth;
}

.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background-color: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

/* JS */
.js [data-tab="content"] section {
  display: none;
}

.js [data-tab="content"] section.ativo {
  display: block;
}

[data-tab="content"] section.ativo.show-right {
  display: block;
  animation: show-right .5s forwards;
}

[data-tab="content"] section.ativo.show-down {
  display: block;
  animation: show-down .5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media(max-width: 700px) {
  .animais-lista {
    grid-column: 1;
  }
}
