.copy {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;

  background-color: #fb5;
  padding: 0.625rem;
}

.copy p {
  padding: 0.3125rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
}

@media(max-width: 700px) {
  .copy {
    grid-column: 1;
    margin-bottom: 0;
  }

  .copy p {
    text-align: center;
  }
}
