* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: 2px solid #222;
  outline-offset: 2px;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.grid-container {
  background: #faf6ed;
  color: #222222;
  font-family: "Open Sans", serif;

  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  padding: 10px;

  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 120px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'Open Sans', serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;

  grid-column: 1 / 4;
}


.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30, 0, 0);
  transition: .3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media(max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-section {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }

  .grid-section h1 {
    font-size: 3rem;
  }
}

