.nav-menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;

  background-color: #fb5;
  padding: 0.625rem;
}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.nav-menu li a {
  padding: 0.3125rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.nav-menu li a:focus {
  outline: 2px solid #222;
  outline-offset: 2px;
}

@media(max-width: 700px) {
  .nav-menu {
    grid-column: 1;
    margin-top: 0;
  }

  .nav-menu ul {
    justify-content: space-between;
  }
}
