.modal-container {
  height: 100vh;
  width: 100%;

  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  min-width: 500px;
  background-color: #fff;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0px 0px 0px 10px #fff;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  animation: modal .3s forwards;
}


.modal [data-modal="closer"] {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0px rgba(0px, 0px, 0px, .3);
  background-color: #e54;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.modal label {
  font-family: "Open Sans", serif;
  display: block;

  font-weight: bold;
  margin: 1rem 0 .5rem 0;
}

.modal input {
  width: 100%;
  padding: .7rem .5rem;
}

.modal button[type="submit"] {
  display: block;
  background-color: #e54;
  border: none;
  border-radius: 4px;
  padding: .7rem 1rem;
  font-size: 1rem;
  color:#fff;
  font-family: "Open Sans", serif;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
}