.grid-numeros {
  grid-column: 2/ 4;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.grid-numeros h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.grid-numeros span {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e54;
}


@media(max-width: 700px) {
  .grid-numeros {
    grid-column: 1 / -1;
    grid-template-columns: 1fr;
  }
}