@import "./global.css";

@import "./menu.css";
@import "./animais.css";
@import "./faq.css";
@import "./contato.css";
@import "./numeros-animais.css";
@import "./footer.css";

@import "./modal.css";
@import "./tooltip.css";
@import "./dropdown.css";
@import "./menu-mobile.css";
@import "./horario-funcionamento.css";

