* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 4px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color:  #fff2ff;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.galeria {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    padding: 0 20px;
}

.lightbox {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    place-items: center;
    z-index: 5;
}

.lightbox div {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.lightbox span {
    position: absolute;
    background: #fff2ff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 1.125rem;
    line-height: 1.3;
    top: 0;
    right: -10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #c88ef3;
    box-shadow: 0px 0px 3px 3px #fff2ff;
    cursor: pointer;
}