body {
  background: linear-gradient(286.87deg, #8360c3 0%, #2ebf91 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 60%;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.container p {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

button {
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #8360c3;
  color: #fff;
  transform: scale(1.05);
}

.screem-1 span {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.screem-1 span#tentativas {
  margin-bottom: 20px;  
}