* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Winky Sans", sans-serif;
    background: #eae2cf;
    color: #3b3b3b;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}