.todo-list {
    padding: 20px 30px;
}

.todo-list h1 {
    margin-bottom: 10px;
}

.todo-list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    align-items: center;
    gap: 20px;
}

.todo-list-container {
    display: grid;
    gap:  5px;
    border-radius: 4px;
    border: 2px solid #a8e6ce;
    background-color: #a8e6ce;
    color: #190a12;
    padding: 10px;
}

.todo-list-container h3 {
    font-size: 1.137rem;
    line-height: 1.2;
}

.todo-list-container .todo-actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.todo-list-container.done h3 {
    text-decoration: line-through;
}

.todo-list-item div:nth-child(odd) {
    animation: show-right .3s ease-in forwards;
}

.todo-list-item div:nth-child(even) {
    animation: show-left .3s ease-in forwards;
}

@keyframes show-right {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 0px , 0px);
    }
}

@keyframes show-left {
    from {
        opacity: 0;
        transform: translate3d(30px, 0px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 0px , 0px);
    }
}