.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-nav a {
  padding: 5px 15px;
  background-color: #8844ee;
  border-radius: 3px;
  font-size: 1.125rem;
  transition: 0.3s;
}

.header-nav a:hover {
  background-color: #b07dfb;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .2);
}

@media(max-width:800px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
  }
}
