.aside {
  padding: 30px 15px;
  display: grid;
  align-content: start;
  gap: 15px;
}

.aside img {
  border-radius: 3px;
}

@media(max-width: 800px) {
  .aside {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}