* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
}

/* * Header */
.super-info-bg {
  background-color: #122ab2;
  color: #fff;
  padding: 10px;
}

.super-info {
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.super-info p {
  padding: 5px;
}

.header-bg {
  background-color: #2c70ff;
  color: #fff;
  padding: 15px;
}

.header {
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-logo a {
  font-size: 2.5rem;
  font-weight: bold;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.header-menu a {
  padding: 5px 10px;
}

.header-menu a:hover {
  color: #222;
}

/* introducao */
.introducao {
  max-width: 960px;
  margin: 0 auto;

  font-size: 3rem;
  padding: 30px 30px 30px 15px;
}

/* * sobre */
.sobre {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 60px 60px 15px;

  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sobre-info {
  flex: 2 1 300px;
}

.sobre-info h1 {
  font-size: 3rem;
}

.sobre-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

.sobre-info p + p {
  margin-top: 15px;
}

.sobre-img {
  flex: 1 1 160px;
}

/* Produtos */
.produtos {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 60px 60px 15px;
}

.produtos h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.produtos-items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: end;
}

.produtos-items li {
  flex: 1 1 175px;
  border-top: 8px solid;
}

.produtos-items li h2 {
  font-size: 3rem;
  color: #a4a4a4;
  background-color: #f7f7f7;
  padding: 15px;
}

.produtos-items .purple {
  border-color: #ae81ff;
}

.produtos-items .pink {
  border-color: #f9265e;
}

.produtos-items .blue {
  border-color: #66d9ed;
}

/* preco*/

.preco {
  background-color: #f7f7f7;
  padding: 60px 15px;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: end;
}

.preco-item {
  flex: 1;
  border: 4px solid #fff;
  padding: 15px;
}

.preco-item h2 {
  font-size: 3rem;
  color: #a4a4a4;
  text-align: center;
  padding: 15px 0px;
}

.preco-item span {
  display: block;
  max-width: 300px;
  margin: 0px auto;
  padding: 15px 0px;
  
  text-align: center;
  font-weight: bold;
  font-size: 1.875rem;

  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.preco-item span sup {
  font-size: 1.125rem;
}

.preco-item ul {
  max-width: 300px;
  margin: 0px auto;
  padding: 15px 0px;

  font-size: 1.25rem;
  line-height: 1;
  font-style: italic;
  color: #7c7c7c;
}
.preco-item ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.preco-item ul li+ li {
  margin-top: 15px;
}
.preco-item ul li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2c70ff;
}

.preco-item a {
  display: block;
  border: 4px solid;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25rem;
  text-align: center;
  padding: 5px 15px;
}

@media(max-width: 800px) {
  .preco-item:nth-child(3) {
    order: 1;
  }
  .preco-item:nth-child(2) {
    order: 2;
  }
  .preco-item:nth-child(1) {
    order: 3;
  }
}

/* * qualidade */
.qualidade {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 15px;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.qualidade-item {
  flex: 1 1 300px;
}
.qualidade-item h2 {
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.qualidade-item h2::before {
  content: "";
  display: block;
  height: 15px;
  width: 5px;
  background-color: #222;
}

.qualidade-item:nth-of-type(3n + 1) h2::before {
  background-color: #f9265e;
}

.qualidade-item:nth-of-type(3n + 2) h2::before {
  background-color: #ae81ff;
}

.qualidade-item:nth-of-type(3n + 3) h2::before {
  background-color: #66d9ed;
}

/* newletters */
.newsletter-bg {
  background-color: #f7f7f7;
  padding: 30px 15px;
}

.newsletter {
  max-width: 960px;
  margin:  0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.newsletter-info {
  flex: 1 1 260px;
}

.newsletter-info h1 {
  margin-bottom: 3px;
  font-size: 3rem;
  color: #a4a4a4;
  text-transform: capitalize;
}

.newsletter-info p {
  font-size: 1.125rem;
  font-style: italic;
  max-width: 30ch;
  color: #7c7c7c;
}

.newsletter-form {
  flex: 2 1 260px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 200px;
  font-size: 1.25rem;
  color: #7c7c7c;
  font-style: italic;
  padding: 5px 15px;
  font-family: "Open Sans", sans-serif;
  border: 3px solid #2c70ff;
  background-color: transparent;
}

.newsletter-form button {
  flex: 1 1 100px;
  border: 3px solid #2c70ff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2c70ff;
  color: #fff;
  cursor: pointer;
  padding: 1px;
  font-size: 1.25rem;
  border: 0;
  padding: 7.5px;
}

@media(max-width: 500px) {
  .newsletter-form {
    margin-top: 15px;
  }
}

.footer {
  background-color: #2c70ff;
  padding: 30px 15px;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
}