@import "tailwindcss";

@theme {
  --color-verde-200: #ACEF75;
  --color-verde-300: #91EE77;
  --color-verde-400: #17E880;
  --color-verde-500: #2E482C;
  --color-verde-600: #16281F;
  --color-verde-700: #0F1C15;
  --color-verde-800: #030504;

  --font-sans: 'DM Sans', 'system-ui', 'sans-serif';
  --font-serif: 'DM Serif Text', 'Georgia', 'serif';

  --animate-slide-in: slideIn .4s ease-in-out forwards;
  --animate-fade-in: fadeIn .4s ease-in-out forwards;

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
     opacity: 1; 
    }
  }
}

@utility container {
  margin: 0 auto;
  padding: 0.5rem;
  @media(width >= 40rem) {
    padding: 0 1rem;
  }
}

@utility animate-1 { animation-delay: 100ms;}
@utility animate-2 { animation-delay: 200ms;}
@utility animate-3 { animation-delay: 300ms;}
@utility animate-4 { animation-delay: 400ms;}

@layer components {
  .neon {
    @apply rounded-full border-verde-200 bg-linear-to-b from-verde-200 to-verde-400 text-verde-800;
    box-shadow:
      0 1px 4px 1px rgba(var(--color-verde-200), 0.25),
      inset 0px -1px 2px var(--color-verde-200);
  }

  .input {
    @apply p-2 rounded-md bg-verde-600 text-verde-200 placeholder:text-verde-200/60 focus:outline-none focus:ring-2 focus:ring-verde-400 focus:border-verde-800 resize-none;
  }

  .radial-gradient {
    @apply bg-radial-[50%_100%_at_50%_0%] from-verde-600 to-verde-700;
  }

  .btn {
    @apply rounded-full border-verde-200 bg-gradient-to-b from-verde-200 to-verde-400 text-verde-800 px-5 py-2 transition hover:contrast-200;
    box-shadow:
      0 1px 4px 1px rgba(172, 239, 117, 0.25),
      inset 0px -1px 2px var(--color-verde-200);
  }
}