.todo-search {
    padding: 20px 30px;
    background-color: #e84d5b;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
}

.search {
    grid-column:  1 / 3;
}

.search button {
    grid-column: 2;
}


.filter {
    grid-column: 3;
}

.todo-forms {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    gap: 30px;
    background-color: #3b3b3b;
    color: #e84d5b;
}

.todo-forms .todo-create {
    display: block;
    grid-column: 1;    
}

.todo-forms .todo-edit {
    grid-column: 2;
    display: none;
    animation: show-right .3s ease-in-out forwards;
}

.todo-create.hidden {
    display: none;
    grid-column: 2;
}

.todo-edit.active {
    display: block;
    grid-column: 1;
}

@keyframes show-right {
    from {
        opacity: 0;
        transform: translate3d(300px, 0px, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}