* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #555;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
}

main {
    max-width: 500px;
    margin: 0 auto;
}


.buttons button {
    padding: 5px 30px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #8c7ef1;
    background-color: #1e298d;
    font-weight: 600;
}

.paleta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.paleta div {
    display: block;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
