.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #e54;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 1rem;
  margin-right: 1rem;
  background: #fb5;
}

.faq-lista dd {
  font-family: "Open Sans", sans-serif;
  margin-bottom: .5rem;
  margin-left: 2rem;
}

.faq-lista dt:focus {
  outline: 2px solid #e54;
  outline-offset: 2px;
}

/* JS */
.js [data-anime="acoordion"] dd {
  display: none;
}

[data-anime="acoordion"] dt::after {
  content: "\293D";
  margin-left: 1rem;
  font-size: 1.2rem;
}

[data-anime="acoordion"] dt.ativo::after {
  content: "\293C";
}

[data-anime="acoordion"] dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate3d(0px, -20px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@media(max-width: 700px) {
  .faq-lista {
    grid-column: 1 / 3;
  }
}
