[data-funcionamento]::after {
  content: "";
  display: inline-block;
  border: 2px solid #222;
  border-radius: 50%;
  width: 10px;
  height: 10px ;
  background: #e52;
  margin-left: 10px;
}

[data-funcionamento].ativo::after {
  background: #32CD32;
}