[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #222;
    border: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    position: relative;
    z-index: 13;
    transition: transform .3s;
  }

  .js [data-menu="button"].ativo::before {
      transform: rotate(90deg);
  }

  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0px 4px #fff, 0px -4px #fff;
  }

  .js #menu {
    display: none;
    position: absolute;
    background: #fb5;
    width: 160px;
    z-index: 12;
    padding: 60px 5px 20px 5px;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .2);
  }

  .js #menu.ativo {
    display: block;
    animation: show-right .3s forwards;
  }

  .js .dropdown-menu {
    position: static;
    /* border: none; */
  }
}