.tooltip {
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 
  0px 0px 0px 2px #fb05, 
  0px 0px 0px 6px rgba(0, 0, 0, .6);
  padding: 1.5rem;
  color: #fff;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  font-family: .875rem;
  max-width: 350px;
  border-radius: 2px;
}